table{
    width:100%;
    text-align: center;
    background-color: white;
}
th{
    background-color:skyblue;
    color: black;
    
}
button{
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background-color: black;
    color: aliceblue;
    border: 2px solid cornflowerblue;
}
button:hover{
 background-color: cornflowerblue;
}
div{
    text-align:start;
}